.tile {
  width: 60px;
  height: 70px;
  border: 1px solid #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.row:nth-child(even) .tile:first-child {
  margin-left: 50px;
}

.tile {
  margin: 0 10px;
}

.dice-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.draw-card-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}